@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: 'NunitoSans';
  src: url('/fonts/NunitoSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MartianMono';
  src: url('/fonts/MartianMono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: 'NunitoSans', 'sans-serif';
  --font-mono: 'MartianMono', 'monospace';
  --shadow-card: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
  
  --color-background: var(--color-gray-300);
  --color-dark-background: var(--color-zinc-950);
  
  --color-border-muted: oklch(0.7819 0.0093 258.34);
  --color-dark-border-muted: var(--color-zinc-900);
  
  --color-primary: var(--color-gray-950);
  --color-dark-primary: var(--color-gray-300);
 }

.prose {
  --tw-prose-headings: var(--color-primary);
  --tw-prose-body: var(--color-primary);

  svg {
    display: inline-block;
  }
}

.dark .prose {
  --tw-prose-headings: var(--color-dark-primary);
  --tw-prose-body: var(--color-dark-primary);
}

:root {
  --yarl__slide_captions_container_background: rgba(0,0,0,0.75);
}

.yarl__slide_description_container .yarl__slide_description {
  hyphens: none;
}
