---
import ContentBase from "../components/ContentBase.astro";
---

<ContentBase title="Austin Schey's Blog" description="Blog Posts">
  <div class="text-xl">
    There's nothing here. <a href="/">Go Home?</a>
  </div>
</ContentBase>
