---
import ContentBase from "../components/ContentBase.astro";
import BlogTitle from "../components/BlogTitle.astro";

const posts: any[] = Object.values(
  import.meta.glob("./blog/*.md", { eager: true }),
);

const extractDescription = (html: string) => {
  let takeLine = false;
  let lines = [];
  for (let line of html.split("\n")) {
    if (line.trim() == "<!--startdescription-->") {
      takeLine = true;
      continue;
    }
    if (line.trim() == "<!--enddescription-->") {
      break;
    }

    if (takeLine) {
      lines.push(line);
    }
  }

  return lines.join("\n");
};
const descriptionList = await Promise.all(
  posts.map(async (p) => [
    p.url,
    p.frontmatter.description ?? extractDescription(await p.compiledContent()),
  ]),
);
const postsWithDescriptions = Object.fromEntries(descriptionList);
---

<ContentBase>
  <h1>Blog Posts</h1>

  {
    posts.map((post) => (
      <BlogTitle
        href={post.url}
        title={post.frontmatter.title}
        date={post.frontmatter.date}
        description={postsWithDescriptions[post.url]}
      />
    ))
  }
</ContentBase>
