---
import ContentBase from "../components/ContentBase.astro";
import BlogTitle from "../components/BlogTitle.astro";
import { experimental_AstroContainer } from "astro/container";
import mdxRenderer from "@astrojs/mdx/server.js";
import preactRenderer from "@astrojs/preact/server.js";

const container = await experimental_AstroContainer.create();
container.addServerRenderer({ name: mdxRenderer.name, renderer: mdxRenderer });
container.addServerRenderer({
  name: preactRenderer.name,
  renderer: preactRenderer,
});
container.addClientRenderer({
  name: "@astrojs/preact",
  entrypoint: "@astrojs/preact/client.js",
});

const posts: any[] = Object.values(
  import.meta.glob("./blog/*.md*", { eager: true }),
);

const extractDescription = (html: string) => {
  const startDescription = '<span class="startdescription hidden"></span>';
  const endDescription = '<span class="enddescription hidden"></span>';

  let takeLine = false;
  let lines = [];
  for (let line of html.split("\n")) {
    const startIndex = line.indexOf(startDescription);
    if (startIndex > -1) {
      lines.push("<p>" + line.substring(startIndex + startDescription.length));
      takeLine = true;
      continue;
    }
    const endIndex = line.indexOf(endDescription);
    if (endIndex > -1) {
      lines.push(line.substring(0, endIndex));
      break;
    }

    if (takeLine) {
      lines.push(line);
    }
  }

  return lines.join("\n");
};
const descriptionList = await Promise.all(
  posts.map(async (p) => [
    p.url,
    p.frontmatter.blogDescription ??
      extractDescription(await container.renderToString(p.default)),
  ]),
);
const postsWithDescriptions = Object.fromEntries(descriptionList);
---

<ContentBase title="Austin Schey's Blog" description="Blog Posts">
  <h1>Blog Posts</h1>
  <ul>
    {
      posts.map((post) => (
        <BlogTitle
          href={post.url}
          title={post.frontmatter.title}
          date={post.frontmatter.date}
          description={postsWithDescriptions[post.url]}
        />
      ))
    }
  </ul>
</ContentBase>
