---
import Base from "../components/Base.astro";
import ProjectList from "../components/ProjectList.mdx";
---

<Base>
  <div class="pt-18 md:pt-26 pb-6 px-6 w-full flex flex-col items-center">
    <div class="prose dark:prose-invert w-full">
      <ProjectList />
    </div>
  </div>
</Base>
