---
import ContentBase from "../components/ContentBase.astro";
import "remark-github-alerts/styles/github-base.css";
import Calendar from "../assets/calendar.svg";
import { formatDate } from "../scripts/dateUtil";
const { frontmatter } = Astro.props;
---

<ContentBase frontmatter={frontmatter}>
  <h1 class="mb-4">{frontmatter.title}</h1>
  <div class="flex flex-row h-[1.5em] items-center">
    <Calendar class="text-secondary h-[80%]" aria-hidden="true" />
    <div class="font-bold pl-2">{formatDate(frontmatter.date)}</div>
  </div>
  <slot />
</ContentBase>
