---
import ContentBase from "../components/ContentBase.astro";
import "remark-github-alerts/styles/github-base.css";
const { frontmatter } = Astro.props;
---

<ContentBase>
  <h1 class="mb-2">{frontmatter.title}</h1>
  <div class="font-bold">{frontmatter.date}</div>
  <slot />
</ContentBase>
