---
interface Props {
  href: string;
  title: string;
  date: string;
}
const { href, title, date } = Astro.props;
---

<div>
  <h2 class="mb-2">
    <a href={href}>{title}</a>
  </h2>
  <div>{date}</div>
</div>
