---
interface Props {
  classList: string[];
}
const { classList } = Astro.props;
---

<div
  class:list={[
    "bg-background",
    "dark:bg-dark-background",
    "border-border-muted",
    "border-4",
    "shadow-card",
    "rounded-md",
    ...classList,
  ]}
>
  <slot />
</div>
