---
import { canvasId } from "../scripts/contourConsts";
---

<script>
  import { canvasId } from "../scripts/contourConsts";

  addEventListener("beforeunload", () => {
    // This is a terrible hack, but for some reason,
    // the WebGL renderer flashes white on Chrome while unloading the page occasionally.
    // Hiding the canvas before the page reloads is a workaround.
    let canvasElement = document.getElementById(canvasId)!;
    canvasElement.style.display = "none";
    setTimeout(() => {
      // The window may not actually reload, in which case we need to re-show it.
      canvasElement.style.display = "block";
    }, 50);
  });
</script>

<div id="contourContainer" class="bg-background dark:bg-dark-background">
  <canvas
    id={canvasId}
    class="w-full h-full fixed bg-background dark:bg-dark-background z-0 motion-reduce:hidden"
  >
  </canvas>
</div>

<script src="../scripts/contour.ts"></script>
