---
import Base from "../components/Base.astro";

interface Props {
  title?: string;
  description?: string;
  frontmatter?: any;
}

const { frontmatter, title, description } = Astro.props;
---

<Base
  title={title ?? frontmatter?.title}
  description={description ?? frontmatter?.description}
>
  <div class="pt-18 md:pt-26 pb-8 md:pb-2 w-full flex flex-col items-center">
    <div
      class="prose dark:prose-invert max-w-[90%] md:max-w-[min(1000px,80%)] prose-h2:flex prose-h2:flex-row prose-h2:items-center"
    >
      <slot />
    </div>
  </div>
</Base>
