---
import { canvasId } from "../scripts/contourConsts";
---

<script src="../scripts/contour.ts"></script>

<div>
  <canvas id={canvasId} class="w-full h-full fixed bg-background z-0"></canvas>
</div>
