---
import Bars from "../../assets/bars.svg";
import Close from "../../assets/close.svg";
import ThemeIcon from "./ThemeIcon.astro";
import Title from "./Title.astro";
---

<script>
  const openMenu = () => {
    let links = document.getElementById("navLinks")!;
    links.classList.remove("-translate-x-full");
  };

  const hideMenu = (event: MouseEvent, force: boolean) => {
    const hamburger = document.getElementById("hamburger")!;
    if (
      force ||
      !(event.target instanceof Node) ||
      !hamburger.contains(event.target)
    ) {
      let links = document.getElementById("navLinks")!;
      links.classList.add("-translate-x-full");
    }
  };
  document.getElementById("navOpen")!.addEventListener("click", openMenu);
  document
    .getElementById("navClose")!
    .addEventListener("click", (e) => hideMenu(e, true));
  document.addEventListener("click", (e) => hideMenu(e, false));
</script>

<div class="flex flex-col p-1" id="hamburger">
  <button id="navOpen" class="w-full h-full cursor-pointer">
    <Bars class="pointer-events-none" width="2em" height="2em" />
  </button>
  <div
    id="navLinks"
    class="text-xl z-30 absolute left-0 top-0 bg-background dark:bg-dark-background border border-gray-500 motion-safe:transition-transform -translate-x-full"
  >
    <div class="flex flex-row">
      <header
        class="flex flex-row items-center border-b pb-1 mx-4 pt-4 border-b-blue-900 dark:border-b-cyan-400"
      >
        <Title textSize="text-base" underline={false} />
        <ThemeIcon />
      </header>
      <button id="navClose" class="w-full h-full cursor-pointer">
        <Close class="pointer-events-none p-1" width="1.5em" height="1.5em" />
      </button>
    </div>
    <div class="p-4">
      <slot />
    </div>
  </div>
</div>
