---
import Bars from "../../assets/bars.svg";
import Close from "../../assets/close.svg";
---

<script>
  const openMenu = () => {
    let links = document.getElementById("navLinks")!;
    links.classList.remove("-translate-x-full");
  };

  const hideMenu = (event: MouseEvent, force: boolean) => {
    const hamburger = document.getElementById("hamburger")!;
    if (
      force ||
      !(event.target instanceof Node) ||
      !hamburger.contains(event.target)
    ) {
      let links = document.getElementById("navLinks")!;
      links.classList.add("-translate-x-full");
    }
  };
  document.getElementById("navOpen")!.addEventListener("click", openMenu);
  document
    .getElementById("navClose")!
    .addEventListener("click", (e) => hideMenu(e, true));
  document.addEventListener("click", (e) => hideMenu(e, false));
</script>

<div class="flex flex-col px-1" id="hamburger">
  <button
    id="navOpen"
    aria-label="Open navigation menu"
    class="w-full h-full cursor-pointer"
  >
    <Bars class="pointer-events-none" width="2em" height="2em" />
  </button>
  <div
    id="navLinks"
    class:list={[
      "text-xl",
      "z-30",
      "absolute",
      "left-0",
      "top-0",
      "bg-background",
      "dark:bg-dark-background",
      "border-b-2",
      "border-r-2",
      "border-border-muted",
      "dark:border-dark-border-muted",
      "rounded-tr-md",
      "rounded-br-md",
      "motion-safe:transition-transform",
      "-translate-x-full",
    ]}
  >
    <div class="flex flex-row">
      <div class="p-2">
        <slot />
      </div>

      <button
        id="navClose"
        aria-label="Close navigation menu"
        class="w-full h-full cursor-pointer"
      >
        <Close class="pointer-events-none p-1" width="1.5em" height="1.5em" />
      </button>
    </div>
  </div>
</div>
