---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<div
  class="flex pb-1 pt-2 px-2 hover:bg-border-muted/50 dark:hover:bg-border-muted rounded-md"
>
  <a href={href} class="underline">
    <slot />
  </a>
</div>
