---
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import me from "../../assets/me.jpg";
import GitHub from "../../assets/github.svg";
import LinkedIn from "../../assets/linkedin.svg";
import GMail from "../../assets/gmail.svg";
import Card from "./Card.astro";
---

{
  /* image alt text color is set to the same color as the background because it looks terrible with the rounded image dimensions */
}
<div
  class="fixed flex flex-col w-full h-full md:h-[80%] z-10 justify-center items-center"
>
  <Card
    classList={[
      "flex",
      "flex-col",
      "md:flex-row",
      "items-center",
      "md:items-start",
      "w-[min(48rem,90vw)]",
      "p-6",
    ]}
  >
    <div class="flex flex-col w-full h-full md:w-1/3 items-center">
      <div class="flex flex-col items-center justify-center h-full gap-2 pb-2">
        <Image
          src={me}
          width={120}
          height={120}
          class="rounded-[50%] bg-border-muted text-border-muted"
          alt="Picture of the author"
        />

        <div class="py-1 opacity-80">Austin Schey</div>
        <div class="flex flex-row gap-2">
          <Link href="https://github.com/aschey" title="GitHub">
            <GitHub
              aria-label="GitHub"
              width={24}
              height={24}
              class="transform-[scale(95%)] dark:fill-white"
            />
          </Link>
          <div class="flex bg-white transform-[scale(95%)] mr-0.5">
            <Link href="https://linkedin.com/in/austin-schey" title="LinkedIn">
              <LinkedIn
                aria-label="LinkedIn"
                width={24}
                height={24}
                class="transform-[scale(105%)] fill-[#0a66c2]"
              />
            </Link>
          </div>
          <Link href="mailto:aschey13@gmail.com" title="Email">
            <GMail
              class="fill-[#C5221F]"
              aria-label="Email"
              width={24}
              height={24}
            />
          </Link>
        </div>
      </div>
    </div>
    <p class="w-full md:w-2/3 text-xl md:text-2xl prose dark:prose-invert">
      Hi, I&apos;m a full-stack developer based in Seattle, WA. I work in
      government services at <a href="https://forpeople.us">For People</a> by day
      and in my spare time I contribute to the Rust ecosystem. <br /><br /> My primary
      interests are <a
        href="https://en.wikipedia.org/wiki/Text-based_user_interface">TUIs</a
      > and audio applications. Occasionally I make <a
        href="https://en.wikipedia.org/wiki/Generative_art">generative art</a
      >.
    </p>
  </Card>
</div>
