---
import { twMerge } from "tailwind-merge";

interface Props {
  classList?: string[];
}

const { classList } = Astro.props;
---

<div
  class:list={twMerge([
    "flex",
    "items-center",
    "content-center",
    "justify-center",
    "font-[MartianMono]",
    "font-bold",
    "decoration-accent",
    "hover:decoration-accent-muted",
    "text-xl",
    "underline",
    ...(classList || []),
  ])}
>
  <a href="/">aschey.tech</a>
</div>
