---
import { twMerge } from "tailwind-merge";

interface Props {
  classList?: string[];
}

const { classList } = Astro.props;
---

<div
  class:list={twMerge([
    "flex",
    "items-center",
    "content-center",
    "justify-center",
    "font-mono",
    "font-bold",
    "decoration-blue-900",
    "hover:decoration-blue-700",
    "dark:decoration-cyan-400",
    "dark:hover:decoration-cyan-600",
    "text-xl",
    "underline",
    ...(classList || []),
  ])}
>
  <a href="/">aschey.tech</a>
</div>
